/*------------------------------------------------------------------------
# "first_first_first_first_first_first_sparky" - Joomla Template Framework
# Copyright (C) 2012 ArhiNet d.o.o. All Rights Reserved.
# License: http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
# Author: HotJoomlaTemplates.com
# Website: http://www.hotjoomlatemplates.com
-------------------------------------------------------------------------*/

/******* CUSTOM ROWS AND CELLS STYLING *******/

.first_first_first_first_first_first_sparky_full {
}

.container {
	margin:0 auto;
	padding:0;
}

/*.row {
	padding:0;
	margin:0;
}*/

.row > * {
	float:left;
}

/* abovecontent and belowcontent modules */

div.abovecontent {
}

div.belowcontent {
	padding: 30px 0 0 0;
}