/*------------------------------------------------------------------------
# "second_second_second_second_second_second_sparky" - Joomla Template Framework
# Copyright (C) 2012 ArhiNet d.o.o. All Rights Reserved.
# License: http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
# Author: HotJoomlaTemplates.com
# Website: http://www.hotjoomlatemplates.com
-------------------------------------------------------------------------*/

/******* COM_CONTENT *******/

/* categories list */

.categories-list ul {
	margin:0;
	padding:30px 0;
}

.categories-list li {
	margin:0;
	padding:0 0 15px 0;
	list-style:none;
}

.categories-list ul ul {
	margin:0;
	padding:15px 30px;
}

.categories-list li li {
	margin:0;
	padding:0 0 15px 0;
	list-style: disc;
}

.categories-list dl {
	margin:0;
	padding:0;
}

.categories-list dt, .categories-list dd {
	margin:0;
	padding:0;
	display: inline;
	font-size:10px;
}

/* archived articles */

.archive .inputbox {
	float: left;
	margin: 5px;
}

.archive button {
	margin: 5px 10px;
}

.archive ul {
	margin:0;
	padding:0;
}

.archive li {
	margin:0;
	padding:0;
	list-style:none;
}

/* multi-column layout */

.row-separator {
	clear:both;
	display:block;
}

.cols-2 div.item {
	width:46%;
	float:left;
	margin:0 4% 0 0;
}

.cols-3 div.item {
	width:31%;
	float:left;
	margin:0 2% 0 0;
}

.cols-4 div.item {
	width:23%;
	float:left;
	margin:0 2% 0 0;
}

div.items-more {
	padding-top:15px;
}

/* category list layout */

table.category {
	width:100%;
	border:1px solid #dddddd;
}

.category th {
	font-weight:700;
	padding:5px;
	text-align:left;
	background:#dddddd;
}

.cat-list-row0 td {
	padding:5px;
	text-align:left;
}

.cat-list-row1 td {
	padding:5px;
	text-align:left;
	background:#eeeeee;
}

.category .list-title {
	width:50%;
}

.category .list-date {
	width:20%;
}

.category .list-author {
	width:20%;
}

.category .list-hits {
	width:10%;
}

.category td.hits {
	text-align:center;
	width:10%;
}

.cat-children {
	padding-top: 30px;
	font-size: 90%;
}

/* heading icons */

ul.actions {
	margin:0 !important;
	padding:0 !important;
}

ul.actions li {
	margin:0 !important;
	padding:0 2px !important;
	list-style:none;
	float:right;
	position:relative;
	top:-50px;
}

/* acticle details */

dl.article-info,
dl.article-info dd {
	padding:0;
	margin:0;	
}

dl.article-info dt.article-info-term {
	font-size: 10px;
	line-height:normal;
	border-bottom:1px solid #eee;
	margin-bottom: 5px;
	padding-bottom: 5px;
}

/* category name */

dl.article-info dd.category-name,
dl.article-info dd.category-name a:link,
dl.article-info dd.category-name a:visited,
dl.article-info dd.category-name a:hover {
	font-size:10px;
	line-height:normal;
}

/* created date */

dl.article-info dd.create {
	font-size:10px;
	line-height:normal;
}

/* modified date */

dl.article-info dd.modified {
	font-size:10px;
	line-height:normal;
}

/* published date */

dl.article-info dd.published {
	font-size:10px;
	line-height:normal;
}

/* author name */

dl.article-info dd.createdby {
	font-size:10px;
	line-height:normal;
}

/* hits */

dl.article-info dd.hits {
	font-size:10px;
	line-height:normal;
}

/* page navigation */

.pagination, .pagenav {
	text-align:center;
}

p.counter {
	margin:0;
	padding:0;
}

ul.pagenav {
	margin:0;
	padding:0;
}

ul.pagenav li {
	list-style:none;
	display: inline;
	padding:0 5px !important;
	margin:0 !important;
}

/* article index */

div#article-index {
	width:40%;
	float: right;
	border:1px solid #dddddd;
	background:#eeeeee;
	margin: 0 15px 15px 15px;
	padding: 5px 15px;
}

div#article-index h3 {
	margin: 0;
	padding: 0 0 5px 0;
}

div#article-index ul {
	margin: 0;
	padding: 0;
}

div#article-index li {
	margin: 0;
	padding: 0;
	list-style: none;
}

div.pagenavcounter {
	font-size: 80%;
	font-weight: bold;
}

div.pagination {
	border-bottom:1px solid #eeeeee;
	margin-bottom: 15px;
}

.pagination ul {
	margin:0 !important;
	padding:0 !important;
	text-align:center;
}

.pagination li {
	list-style:none;
	display: inline;
	padding:0 5px !important;
	margin:0 !important;
	font-size: 80%;
}

/******* COM_CONTACTS *******/

/* contacts category layout */

.category .item-title {
	width:20%;
}

.category td.item-title a:link,
.category td.item-title a:visited,
.category td.item-title a:hover {
	text-decoration:underline;
}

.category .item-position {
	width:20%;
}

.category .item-phone {
	width:20%;
}

.category .item-suburb {
	width:20%;
}

.category .item-state {
	width:20%;
}

/* contact form */

.contact-category .category-desc {
	padding-bottom:15px;
}

#contact-form dl dt {
	width:20%;
	float:left;
	padding-bottom:10px;
	min-height:25px;
	padding-top:10px;
}

#contact-form dl dd {
	padding-bottom:10px;
	width:80%;
	min-height:25px;
	padding-top:10px;
}

div.pane-slider {
	background:none;
}

.jicons-icons img {
	float:left;
}

.jicons-icons img {
	float:left;
	margin-right:10px;
}

address span.contact-street {
	padding:0 8px 0 0;
	display:block;
}

address span.contact-suburb,
address span.contact-state,
address span.contact-postcode,
address span.contact-country {
	padding:0 8px 0 25px;
	display:block;
}

.contact-email label {
	display:block;
	float:left;
	width:100px;
}

.contact-email .inputbox {
	margin-bottom:10px;
}

.contact-email .button {
	margin-top:30px;
}

#jform_contact_message {
	width:320px;
}

input {
	border:1px solid #999;
}

/* pane toggler */

.pane-toggler-down, .pane-toggler {
	background:#dddddd;
	border:1px solid #cccccc;
	padding:5px 15px;
	margin: 0 0 5px;
}

.pane-sliders .content {
	padding:0 15px;
}

/******* COM_SEARCH *******/

#advanced-search ul {
	margin:0;
	padding:0;
}

#advanced-search li {
	margin:0;
	width:50%;
	list-style:none;
	float: left;
}

dl.search-results {
	margin:0;
	padding:0;
	overflow: hidden;
}

dl.search-results dt {
	margin:0;
	padding:15px 0 0 0;
}

dl.search-results dd {
	margin:0;
	padding:0;
}

.search-pagination {
	padding-top: 30px;
}

.advanced-search-tip {
	padding: 15px;
	background:#eee;
	font-size: 80%;
	line-height: normal;
}

fieldset.word {
	padding: 0 0px 30px 0px;
}

/******* COM_WRAPPER *******/

iframe {
	border:1px solid #dddddd;
}

/******* COM_USERS *******/

div.login-fields {
	padding: 5px 0px;
}

.login-fields label {
	width:120px;
	display: inline-block;
}

.login-image, .logout-image {
	padding: 15px 0;
}

.login-description, .logout-description {
	padding: 15px 0;
}

.login button {
	margin-top: 15px;
}

.profile fieldset {
	padding-bottom:30px;
}

.registration dl, .remind dl, .reset dl, .profile dl, .profile-edit dl {
	margin: 0;
	padding: 0;
}

.registration fieldset {
	margin: 30px 0 0 0;
}

.registration legend {
	padding-bottom:15px;
}

.registration dt, .remind dt, .reset dt, .profile dt, .profile-edit dt {
	margin:0;
	background:#eeeeee;
	padding:5px 15px 0 15px;
	font-weight: bold;
}

.registration dd, .remind dd, .reset dd, .profile dd, .profile-edit dd {
	margin:0;
	background:#eeeeee;
	border-bottom:1px solid #ffffff;
	padding:0 15px 5px 15px;
}

.registration fieldset:first-of-type dt:first-of-type {
	background:transparent;
	font-size: 75%;
	color:red;
}

.registration fieldset:first-of-type dd:first-of-type, .remind dt:last-of-type, .remind dd:last-of-type, .reset dt:last-of-type, .reset dd:last-of-type {
	background:transparent;
}

#jform_profile_tos {
	margin: 0;
}

div.registration div {
	padding-top: 15px;
}

/******* MOD_ARTICLES_ARCHIVE (Archived Articles) *******/

ul.archive-module {
	margin: 0 30px;
	padding: 0;
}

ul.archive-module li {
	margin: 0;
	padding: 0;
}

/******* MOD_ARTICLES_NEWS (Articles - Newsflash) *******/

div.newsflash .newsflash-title {
	margin:0;
	padding: 10px 0 0 0;
}

div.newsflash p {
	margin: 0;
	padding: 0;
}

/******* MOD_ARTICLES_LATEST (Latest News) *******/

ul.latestnews {
	margin: 0 30px;
	padding: 0;
}

ul.latestnews li {
	margin: 0;
	padding: 0;
}

/******* MOD_ARTICLES_POPULAR (Most Read Content) *******/

ul.mostread {
	margin: 0 30px;
	padding: 0;
}

ul.mostread li {
	margin: 0;
	padding: 0;
}

/******* MOD_ARTICLES_CATEGORIES (Articles Categories) *******/

ul.categories-module {
	margin: 0 30px;
	padding: 0;
}

ul.categories-module li {
	margin: 0;
	padding: 0;
}

ul.categories-module li h4 {
	margin: 0;
	padding: 0;
	font-family: inherit;
	font-size: inherit;
}

/******* MOD_ARTICLES_CATEGORY (Articles Category) *******/

ul.category-module {
	margin: 0 30px;
	padding: 0;
}

ul.category-module li {
	margin: 0;
	padding: 0;
}

ul.category-module li h4 {
	margin: 0;
	padding: 0;
	font-family: inherit;
	font-size: inherit;
}

/******* MOD_RELATED_ITEMS (Articles - Related Articles) *******/

ul.relateditems {
	margin: 0 30px;
	padding: 0;
}

ul.relateditems li {
	margin: 0;
	padding: 0;
}

/******* MOD_BANNERS (Banners) *******/

div.banneritem {
	margin-bottom:5px;

}

/******* MOD_FEED (Feed Display) *******/

ul.newsfeed {
	margin: 0 30px;
	padding: 0;
}

ul.newsfeed li {
	margin: 0;
	padding: 0;
}

div.feed h4 {
	margin: 0;
	padding: 0;
	font-family: inherit;
	font-size: inherit;
}

div.feed h5 {
	margin: 0;
	padding: 0;
	font-family: inherit;
	font-size: 90%;
}

div.feed p {
	margin: 0;
	padding: 0;
	font-size: 90%;
}

/******* MOD_LANGUAGES (Language Switcher) *******/

div.mod-languages li {
	margin: 0 3px;
}

/******* MOD_RANDOM_IMAGE (Random Image) *******/

div.random-image {
}

/******* MOD_LOGIN (Login) *******/

#login-form p {
	margin: 0 0 10px 0;
}

#login-form ul {
	margin: 0;
	padding: 15px 0 0 0;
}

#login-form ul li {
	margin: 0;
	padding: 0 10px 0 0;
	list-style:none;
	font-size: 80%;
	line-height: normal;
}

/******* MOD_SEARCH (Search) *******/

div.search label {
	/* display:none; */
}

#mod-search-searchword {
}

/******* MOD_FINDER (Smart Search Module) *******/

div.finder label, div.finder br {
	/* display:none; */
}

ul.autocompleter-choices {
	font-family: inherit;
	font-size: 90%;
}

#mod-finder-searchword{
}

div.finder ul {
	margin: 0;
	padding: 15px 0;
}

div.finder li {
	margin: 0;
	padding: 0;
	list-style:none;
	font-size: 80%;
}

/******* MOD_STAT (Statistics) *******/

dl.stats-module {
	margin: 0;
	padding: 0;
	clear: both;
	font-size: 80%;
}

dl.stats-module dt {
	margin: 0;
	padding: 0 5px;
	background:#dddddd;
	font-weight: bold;
}

dl.stats-module dd {
	margin: 0 0 5px 0;
	padding: 0 5px;
}

/******* MOD_SYNDICATE (Syndication Feeds) *******/

a.syndicate-module {
}

.syndicate-module img {
}

/******* MOD_USERS_LATEST (Latest Users) *******/

ul.latestusers {
	margin: 0 30px;
	padding: 0;
}

ul.latestusers li {
	margin: 0;
	padding: 0;
}

/******* MOD_WEBLINKS (Weblinks) *******/

ul.weblinks {
	margin: 0 30px;
	padding: 0;
}

ul.weblinks li {
	margin: 0;
	padding: 0;
}

ul.weblinks p {
	margin: 0;
	padding: 0;
}

/* system messages */

dl#system-message {
	margin: 0;
	padding: 0;
}

dd.message {
	background:none;
	border:none;
	padding:10px;
	margin:0;
}

/* Tooltips */

.tip-wrap{
    z-index: 10000;
    line-height:normal;
}
.tip {
   float: left;
   background: #ffc;
   border: 1px solid #D4D5AA;
   padding: 5px;
   max-width: 200px;
}
 
.tip-title {
   padding: 0;
   margin: 0;
   font-size: 100%;
   font-weight: bold;
   margin-top: -15px;
   padding-top: 15px;
   padding-bottom: 5px;
   background: url(../images/selector-arrow.png) no-repeat;
}
 
.tip-text {
   font-size: 100%;
   margin: 0;
}