<h1>Welcome to second_second_second_second_second_second_sparky!</h1>
<p>second_second_second_second_second_second_sparky from <a href="http://www.hotjoomlatemplates.com">HotJoomlaTemplates.com</a> is free generic Joomla template licensed under GNU/GPL that can be used as a starting point for development of Joomla templates. second_second_second_second_second_second_sparky's main adventages are <strong>flexibility</strong> (your site can have literaly any layout and dimensions) and <strong>ease of use</strong> (create any layout using only drag'n'drop).</p>
<p>Please use the tabs and subtabs to navigate through the options. On each tab, you will find some text that describe the options of this tab. Also, if you move pointer over the option name, a popup with detailed explanation will be displayed.</p>
<p>Enjoy your creations with second_second_second_second_second_second_sparky!</p>