/*------------------------------------------------------------------------
# "first_first_first_first_first_first_sparky" - Joomla Template Framework
# Copyright (C) 2012 ArhiNet d.o.o. All Rights Reserved.
# License: http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
# Author: HotJoomlaTemplates.com
# Website: http://www.hotjoomlatemplates.com
-------------------------------------------------------------------------*/

.menu.nav > li {
	float:right;
}

.topmenu {
	float:right;
}

div.moduletable h3, div.moduletable_menu h3 {
	text-align:right;
}

.contentheading, .componentheading {
	text-align:right;
}

ul.checklist li {
	background:url(../images/icon_checklist.png) no-repeat right;
	padding-right:22px;
}

ul.arrow li {
	background:url(../images/icon_arrow.png) no-repeat right;
	padding-right:22px;
}

ul.star li {
	background:url(../images/icon_star.png) no-repeat right;
    padding-right:22px;
}

.row > * {
	float: right;
}

ul.actions li {
    float:left !important;
}