<h3>Menu Options</h3>
<p>All menus from your Joomla site that's listed in menu manager are also listed here. For each menu you can select a menu type. After that, appropriate option for this menu type will be shown. There are 5 menu types available.</p>
<p><strong>Drop-down menu:</strong><br />
This is most commonly used menu type. It contains horizontal buttons. Submenu items will be shown in the drop-down box.</p>
<p><strong>Horizontal menu:</strong><br />
In this menu type the submenu items will be shown horizontally under the main menu items.</p>
<p><strong>Vertical (accordion):</strong><br />
The main menu items are stacked vertically while the submenu items are shown under the main menu item if user clicks on it.</p>
<p><strong>Joomla classic:</strong><br />
This will show a classic Joomla menu. This menu type is recommended if you don't have submenu items.</p>