<h3>Specific layouts for the mobile devices</h3>
<p>Sparky can create specific layouts for the mobile devices. If somebody visits your site using mobile device or other device with small screen resolution, your site will automatically "accomodate" to the available screen space.</p>